* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.waku {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
}

.nav-list {
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
  float: left;
  list-style: none;
}

.nav-list a {
  color: #fafafa;
}
a {
  text-decoration: none;
}

/* mainvisual */
.mainvisual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
}

.mainvisual h1 {
  font-size: 64px;
  color: #fafafa;
  padding-bottom: 10px;
}

.mainvisual p {
  font-size: 20px;
  color: #fafafa;
}

/* portfolio */
.portfolio {
  background-color: #eceff1;
}

.port-cnt {
  width: 920px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0 90px 0;
}

.heading {
  font-size: 32px;
  color: #000;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  color: #ec715f;
  margin: 8px auto 30px auto;
}

.port-img-cnt {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.port-img1 {
  width: 300px;
  height: 250px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}
.port-img2 {
  width: 300px;
  height: 250px;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}
.port-img3 {
  width: 300px;
  height: 250px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.port-img4 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.port-img5 {
  width: 300px;
  height: 250px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.port-img6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

/* feature */
.feat-cnt {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.strength-cnt {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.strength {
  width: 320px;
  height: auto;
}

.fas {
  font-size: 60px;
}

.strength h3 {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

.s-text {
  font-size: 16px;
  color: #000;
  text-align: left;
}

.strength:nth-child(2) {
  margin: 0 10px;
}

/* profile */
.profile {
  background-color: #eceff1;
}

.prf-cnt {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.prf-main {
  display: flex;
  justify-content: center;
}

.my-prf {
  width: 50%;
  padding-top: 30px;
}

.prf-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.prf-name {
  text-align: left;
  margin-bottom: 20px;
}

.prf-skill {
  text-align: left;
}

.my-prf h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

/* contact */
.contact {
}

.cnt-top {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.cnt-cnt {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cnt-cnt h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.cnt-inf {
  width: 400px;
}

.cnt-sns {
  width: 400px;
  font-size: 50px;
}

.fab:nth-child(2) {
  margin: 0 20px;
}

/* footer */
footer {
  background-color: #ec715f;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.footer-text {
  color: #fafafa;
  font-size: 16px;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
  header {
    width: 90%;
  }

  .mainvisual {
    width: 90%;
  }

  .portfolio {
    width: 90%;
  }

  .feature {
    width: 90%;
  }

  .profile {
    width: 90%;
  }

  .contact {
    width: 90%;
  }

  footer {
    width: 90%;
  }
}
